@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body{
    background:
    radial-gradient(circle at 100% 100%, #232844e0, transparent 40%),
    radial-gradient(circle at 30% 40%, #ffffff, transparent 50%),
    linear-gradient(to bottom, #ffffff, #000000);

}